<div class="edit-user">
    <div class="modal-header">
        <h4>Edit role</h4>
    </div>

    <form novalidate [formGroup]="formGroup">
        <div class="modal-body">
            <div class="form-group w-75"
                [class.has-danger]="formGroup.get('name').touched && formGroup.get('name').errors">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name">
                <span class="text-danger"
                    *ngIf="formGroup.get('name').touched && formGroup.get('name').hasError('required')">
                    The field hospital is mandatory
                </span>
            </div>



            <div class="form-group w-75"
                [class.has-danger]="formGroup.get('hospital').touched && formGroup.get('hospital').errors">
                <label for="hospital">Select an hospital for the doctor:</label>
                <select class="form-control" formControlName="hospital">
                    <option *ngFor="let hospital of hospitals" [value]="hospital.id">{{hospital.label}}</option>
                </select>
                <span class="text-danger"
                    *ngIf="formGroup.get('hospital').touched && formGroup.get('hospital').hasError('required')">
                    The field hospital is mandatory
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="onUpdateDoctor()">Update
                doctor</button>
            <button type="button" class="btn btn-secondary" aria-label="Close"
                (click)="modal.close('cancel')">Cancel</button>
        </div>
    </form>
</div>