<div class="table-responsive">
  <table #table class="table table-bordered">
    <thead>
      <tr>
        <th [id]="column.id" *ngFor="let column of columns; trackBy: trackByColumn;">
          {{ column.label }}
        </th>
        <th *ngIf="showActions" style="width: 100px">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows;let i=index">
        <td *ngFor="let column of columns">
          <ng-container *ngIf="column.type === 'html'">
            <div>
              <ng-container
                *ngTemplateOutlet="row[column.id]; context: row"
              ></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="column.type === 'data'">
            <div [innerHtml]="row[column.id]"></div>
          </ng-container>
        </td>
        <td *ngIf="showActions" >
          <div class="text-center">
            <a class="cursor-pointer mr-2"
              [class.disabled]="!!row['actionDisabled']"
              (click)="onEditRowClick(rows[i])" 
              title="Edit">
                <i class="fa fa-pencil text-inverse mr-1"></i>
            </a>
            <a class="cursor-pointer"
              [class.disabled]="!!row['actionDisabled']"
              (click)="onRemoveRowClick(rows[i])" 
              title="Remove">
                <i class="fa fa-close text-danger"></i>
            </a>
          </div>
          
        </td>
      </tr>

      <tr *ngIf="!rows || (rows && !rows.length)">
        <td [attr.colspan]="showActions ? columns.length + 1 : columns.length">
          <span>No Results</span>
        </td>
      </tr>


    </tbody>
  </table>
  <div
    class="pagination d-flex justify-content-between"
    *ngIf="enablePagination && pagination && rows.length">
    <h6>Total items: {{pagination.totalItems}}</h6>
    <div>
      <button
        [disabled]="pagination.offset === 0"
        class="btn btn-secondary mr-2"
        type="button"
        (click)="previousPage()">
        <i class="fa fa-backward" aria-hidden="true"></i>
      </button>
      <button
        [disabled]="pagination.offset + 1 >= maxOffsetAllowed"
        class="btn btn-secondary"
        type="button"
        (click)="nextPage()">
        <i class="fa fa-forward" aria-hidden="true"></i>
      </button>
    </div>
    
  </div>
</div>
