<div class="doctors-management animated fadeIn fast">
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex">
                    <input [(ngModel)]="nameCriteria" type="text" class="form-control mr-3" placeholder="Search doctor..."
                        (ngModelChange)="searchData()" (keyup.enter)="searchData()" />


                    <button type="button" class="btn btn-secondary" (click)="cleanCriteria()">Clean
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row animated fadeIn fast" *ngIf="showLoader && !errorInSearch">
        <div class="col-12">
            <app-alert-loader [header]="'Loading'" [content]="'Please wait'">
            </app-alert-loader>
        </div>
    </div>

    <div class="row animated fadeIn fast" *ngIf="!showLoader && !errorInSearch">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="card-title">Doctors</h4>
                            <h6 class="card-subtitle">Doctors registered in the application.</h6>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" (click)="onCreateDoctor()"><i class="fa fa-user-md mr-2"></i>New</button>
                        </div>
                    </div>
                    
                    <app-table-search 
                        [columns]="tableColumns" 
                        [enableClientPagination]="enableClientPagination"
                        [pagination]="pagination"
                        [showActions]="true"
                        [rows]="tableRows" 
                        (removeClick)="onRemoveDoctor($event)" 
                        (editClick)="onEditDoctor($event)">
                    </app-table-search>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="errorInSearch">
        <div class="col-md-12">
            <app-custom-error [title]="'Error in search'" [content]="
              'An error ocurred when get doctors. Please, contact with the administrator.'">
            </app-custom-error>
        </div>
    </div>

    <ng-template #imgTemplate let-img="img" let-uid="uid">
        <div class="img-doctor d-flex justify-content-center">
            <img [src]="img|imageUrl:entityNameEnum.Doctors" class="avatar cursor-pointer" (click)="onEditImage(uid)">
        </div>
    </ng-template>

</div>