/* You can add global styles to this file, and also import other style files */


@import 'assets/css/file-input.css';

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#themecolors li a.selector, .cursor-pointer {
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: #869196;
  border: solid 1px #D1ECF1;
}